body {
  background: linear-gradient(
    to bottom,
    rgba(38, 87, 38, 0.2),
    rgb(28, 99, 47)
  );
}
/* Menerapkan latar belakang dengan gradasi linear dari atas ke bawah */
.jumbotron {
  min-height: 50vh;
  margin: 0;
  padding: 8rem 2rem 0rem;
  position: relative;
}
/* Mengatur tinggi minimal elemen .jumbotron menjadi 50% dari tinggi tampilan layar (min-height: 50vh).
Memberikan padding di bagian atas (8rem) dan sisi kiri/kanan (2rem), serta menghilangkan margin dan posisi relatif. */
/* position: relative digunakan untuk memindahkan elemen dari posisi aslinya, tanpa mengubah aliran dokumen. */
.btn-custom {
  background-color: #1c4828;
  color: white;
  text-align: center;
}
.location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px;
}
/* display: flex mengaktifkan Flexbox pada kontainer .location-container.
flex-direction: column menyusun elemen-elemen di dalamnya secara vertikal. */
.oval {
  display: inline-block;
  /* display: inline-block membuat elemen tetap bersebelahan seperti elemen inline, tetapi memungkinkan Anda untuk menetapkan dimensi, margin, dan padding seperti elemen block. */
  background-color: #1c4828;
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
}
#menu .row.text-center {
  padding-left: 140px;
  padding-right: 120px;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.navbar-nav .nav-link:hover {
  color: #04d055;
}
.card-img-top {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .jumbotron {
    padding: 4rem 2rem 0rem;
  }

  .location-container {
    margin: 15px;
  }

  #menu .row.text-center {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-img-top {
    max-width: 100%;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .location-container {
    margin: 10px;
  }

  .oval {
    padding: 10px 15px;
  }

  .jumbotron {
    padding: 3rem 1rem 0rem;
  }
}
